.grid-button {
  margin: auto;
  margin-bottom: 24px;
  display: block;
}

.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 960px;
}

.square {
  box-sizing: border-box;
  border: solid 1px black;
}
